
.idea/encodings.xml

.DS_Store

.idea/.name

.idea/flask_proposal.iml

.idea/jsLinters/gjslint.xml

.idea/misc.xml

.idea/modules.xml

.idea/other.xml

.idea/scopes/scope_settings.xml

.idea/testrunner.xml

.idea/vcs.xml

.idea/workspace.xml
