.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container
          a.brand(href='#!',title="#{_('title')}")
            i.icon-home.icon-white
            &nbsp;제안소(Proposal center)

#message_wrapper
  #message_alert-warning.alert.hidden
  #message_alert-error.alert.alert-error.hidden
  #message_alert-info.alert.alert-info.hidden
  #message_alert-success.alert.alert-success.hidden
